$color-primary: #2aa876;
$color-primary-text: #ffffff;
$color-secondary: #ffd265;
$color-secondary-text: #7e621d;

$color-success-notification: #60A917;
$color-error-notification: #CE352C;
$color-warning-notification: #FF984E;
$color-information-notification: #1BA1E2;
