@import "~noty/src/noty.scss";
@import "~noty/src/themes/metroui.scss";

.noty_bar {
	position: relative;
	display: flex;
  align-items: center;
	min-height: 70px;
	padding: 5px 10px;
	border-radius: 7px;

	&::before {
		position: absolute;
		width: 7px;
		top: 0;
		bottom: 0;
		left: 0;
		content: '';
	}

	.noty_body {
		padding: 5px 10px !important;
		font-weight: bold;
	}

	&.noty_type__error {
		background-color: white !important;
		color: #CE352C !important;

		&::before {
			background-color: #CE352C;
		}
	}

	&.noty_type__success {
		background-color: white !important;
		color: #60A917 !important;

		&::before {
			background-color: #60A917;
		}
	}

	&.noty_type__warning {
		background-color: white !important;
		color: #FF984E !important;

		&::before {
			background-color: #FF984E;
		}
	}

	&.noty_type__info {
		background-color: white !important;
		color: #1BA1E2 !important;

		&::before {
			background-color: #1BA1E2;
		}
	}
}
