# This workflow will do a clean install of node dependencies, cache/restore them, build the source code, use linter to check the code and run tests
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build, lint and test

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build-lint-and-test:
    name: Build, lint and test

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          cache: 'yarn'

      - name: 'Use Next.js cache'
        uses: actions/cache@v3.2.5
        with:
          path: ${{ github.workspace }}/.next/cache
          # Generate a new cache whenever packages or source files change.
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**.[jt]s', '**.[jt]sx') }}
          # If source files changed but packages didn't, rebuild from a prior cache.
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-
          
      - name: Yarn install
        run: yarn install
        
      - name: Yarn build
        run: yarn build
      
      - name: Yarn lint
        run: yarn lint

      - name: Run unit tests
        run: yarn unit-test

      - name: Run component tests
        run: yarn component-test:ci
        
      - name: Run E2E tests
        run: yarn e2e-test:ci